{{#block "content"}}
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form method="post" action="/entries/{{entry.slug}}/edit">
                        <!-- Title Input -->
                        <label for="title"> Title</label>
                        <input type="text" name="title" id="title" value="{{entry.title}}" required><br>

                        <!-- Content Textarea -->
                        <label for="content">Entry</label>
                        <textarea rows="5" name="content" id="content" required>{{entry.content}}</textarea><br>

                        <!-- Submit and Cancel Buttons -->
                        <input type="submit" value="Save Entry" class="button">
                        <a href="/entries/{{entry.slug}}" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
{{/block}}

{{> base.hbs}}